*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    font-family: 'Nunito', sans-serif;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
   
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
}

#value {
    font-size: 4rem;
}

.btns-container{
    margin-top: 20px;
}

.btn {
    text-transform: uppercase;
    background-color: #1E90FF;
    color: black;
    padding: 0.375rem 0.75rem;
    letter-spacing: 1rem;
    display: inline-block;
    transition: 0.3sec;
    font-size: 0.875rem;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 20px;
}

.btn:hover {
    opacity: 0.8;
}

#value {
    color: black;
}


@media screen and (max-width: 980px) {

    .btn{
        place-items: center;
        display: inline-block;
        font-size: 20px;
        letter-spacing: 0rem;
    }
}